*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

header {
  
}

.wrapper {
  margin-top: 1.5rem;
  
}

#searchForm, 
.wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
}

#searchForm {
  gap: .4rem;
}

#query {
  font-size: 1rem;
  padding: .6rem 2rem;
  border-radius: 20px;
  border: none;
  background: #80808021;
}