@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Base font size */
  --fs-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);

/* Type scale */
  --fs-xs: clamp(0.75rem, 0.70rem + 0.2vw, 0.875rem);
  --fs-sm: clamp(0.875rem, 0.82rem + 0.25vw, 0.95rem);
  --fs-md: clamp(1.125rem, 1.05rem + 0.3vw, 1.25rem);
  --fs-lg: clamp(1.4rem, 1.25rem + 0.6vw, 1.75rem);
  --fs-xl: clamp(1.75rem, 1.5rem + 1vw, 2.25rem);
  --fs-2xl: clamp(2.25rem, 1.9rem + 1.5vw, 3rem);
  --fs-3xl: clamp(3rem, 2.5rem + 2vw, 4rem);
  --fs-4xl: clamp(3.75rem, 3rem + 3vw, 5rem);
  --fs-5xl: clamp(4.5rem, 3.5rem + 4vw, 6rem);

  /* Line heights */
  --lh-tight: 1.2;
  --lh-normal: 1.5;
  --lh-loose: 1.75;

  /* Spacing (4px scale)*/
  --spc-1: 0.25rem;
  --spc-2: 0.5rem;   
  --spc-3: 0.75rem;  
  --spc-4: 1rem;     
  --spc-5: 1.5rem;   
  --spc-6: 1.75rem;   
  --spc-7: 2rem;   
  --spc-8: 3rem;   
  --spc-9: 4rem;   

  /* Colors */
  /* Body, cards */
  --clr-bg-light: #FFFFFF;
  --clr-bg-dark: #0A0B0BE3;
  --clr-muted-bg-light: #d9d9d95b;
  --clr-muted-bg-dark: #CDCDCD70;

  /* Text */
  --clr-txt-light: #FFFFFF;
  --clr-txt-dark: #000000;
  --clr-txt-muted: #080808b0;

  /* Width */
  /* Cards */
  --width-lg-card: 18rem;
  --width-sm-card: 6rem;

  /* Header */
  --width-90-pc: 90%;
  --width-100-pc: 100%;

  /* Border-radius */
  --radius-18: 18px;
  --radius-20: 20px;
  --radius-50-pc: 50%;
}

body {
  font-family: Inter, monospace, ui-sans-serif, system-ui, sans-serif;
  background-color: var(--clr-bg-light);
  font-size: var(--fs-base);
  margin: 0;
  display: grid;
  place-items: center;
  grid-template-rows: 2.5rem 1fr 2.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: var(--width-90-pc);
}

.settings-div {
  background: purple;
}

.loader {
  display: none; 
  position: absolute;
  right: var(--spc-3);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: var(--radius-50-pc);
  border: 3px solid transparent;
  border-top-color: var(--clr-bg-dark);
  animation: rotate .6s linear infinite;
}

.loader.is-visible {
  display: block;
}

.location {
  display: grid;
  position: absolute;
  top: var(--spc-9);
  width: var(--width-100-pc);
  background: var(--clr-bg-light);
  color: var(--clr-bg-dark);
  box-shadow: 0px 0px 2px 2px #00000021;
  border-radius: 4px;
  padding: var(--spc-2);
  word-wrap: break-word;
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.loc-span {
  padding: var(--spc-3);
  color: var(--clr-bg-dark);
  border-radius: 2px;
  cursor: pointer;
}

.loc-span:hover {
  background-color: var(--clr-muted-bg-light);
}

.search-icon {
  position: absolute;
  left: var(--spc-4);
}

#query {
  font-size: var(--fs-base);
  border-radius: var(--radius-20);
  border: none;
  padding: .6rem 3rem;
  background: var(--clr-muted-bg-light);
  width: var(--width-100-pc);
}

#searchForm {
  grid-area: search;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-wrapper {
  min-width: 55rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4rem 14rem 26.5rem;
  grid-template-areas:
    "search search"
    "main secondary"
    "hourly daily";
  gap: var(--spc-2);
}

.main-card {
  grid-area: main;
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-inner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spc-2);
}

.main-inner-content-left, 
.main-inner-content-right {
  /* border: 1px solid purple; */
}

.main-inner-content-left {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: var(--spc-2); */
}

.main-inner-content-right {
  width: 55%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  gap: var(--spc-3);
}

.main-weather-img {
  width: 65%;
  object-fit: contain;
}

.main-weather-txt {
  font-size: var(--fs-md);
  color: var(--clr-txt-muted);
  text-align: center;
  align-self: flex-end;
}

.main-temp-num {
  font-size: var(--fs-5xl);
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: -2px;
}

.main-feels-like-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.main-feels-like {
  font-size: var(--fs-md);
  color: var(--clr-txt-muted);
}

.secondary-card {
  grid-area: secondary;
  display: grid;
  gap: var(--spc-2);
  grid-template-rows: 1fr 1fr;
  background: var(--clr-bg-light);
  border-radius: var(--radius-20);
}

.second-card-upper-wrap {
  display: grid;
  grid-template-columns: 7rem 7.5rem 2fr;
  gap: var(--spc-2);
}

.txt-reg-md {
  font-size: var(--fs-xs);
  font-weight: normal;
  margin-bottom: var(--spc-2);
  color: var(--clr-txt-muted);
  min-height: 1rem;
}

.txt-bold-sm {
  font-size: var(--fs-sm);
  font-weight: bold;
  margin-bottom: var(--spc-1);
}

.txt-bold-sm-no-margin {
  font-size: var(--fs-sm);
  font-weight: bold;
}

.txt-reg-xs {
  font-size: var(--fs-xs);
  font-weight: normal;
  margin-bottom: var(--spc-2);
  color: var(--clr-txt-muted);
  min-height: 1rem;
}

.humidity,
.windspeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-2);
}

.second-card-bottom-wrap {
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-2);
  overflow-y: auto;
}

.sunrise-sunset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-2);
}

.sunrise-inner-wrap,
.sunset-inner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.severe-alerts-title-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.severe-alerts-txt {
  margin: 0rem .5rem;
  justify-self: center;
  font-size: var(--fs-sm);
  font-weight: normal;
  line-height: var(--lh-normal);
}
  
.hourly-card {
  grid-area: hourly;
}

.hourly-title,
.daily-title {
  font-size: var(--fs-sm);
  font-weight: bold;
  color: var(--clr-txt-muted);
}

.hourly-card-inner-content,
.daily-card-inner-content {
  font-size: var(--fs-sm);
  padding: .5rem 0rem;
  display: grid;
  gap: var(--spc-1);
}

.row {
  /* border: 1px solid purple; */
  height: 2rem;
  display: grid;
  grid-template-columns: 3.4rem 3rem 3rem 4rem;
  align-items: center;
  gap: var(--spc-8);
}

.hours { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant-numeric: tabular-nums;
}

.hourly-icon-wrap,
.daily-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
}

.hourly-icon,
.daily-icon {
  width: 1.8rem;
}

.hourly-icon,
.daily-icon {
  height: 1.8rem;
}

.hourly-temp,
.daily-temp,
.hourly-precip-wrap,
.daily-precip-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant-numeric: tabular-nums;
}

.hourly-precip-wrap,
.daily-precip-wrap {
  flex-direction: row-reverse;
}

.hourly-precip,
.daily-precip {
  width: 3rem;
}

.hourly-precip-icon,
.daily-precip-icon {
  width: 1.3rem;
}

.daily-card {
  grid-area: daily;
}

.hourly-card,
.daily-card {
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: 1rem 1.5rem;
  overflow-y: auto;
}

img {
  width: 100%;
}


@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

@media (max-width: 500px) {
  .main-wrapper {
    width: 75%;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 10rem 10rem 20rem 20rem;
    grid-template-areas:
      "search"
      "main"
      "secondary"
      "hourly"
      "daily";
    gap: var(--spc-2);
  }
}

@media (min-width: 501px) {
  .main-wrapper {
    padding: 0 1rem;
  }
}

@media (min-width: 501px) {
  .main-wrapper {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .main-wrapper {
    width: 75%;
  }
}

@media (min-width: 1000px) {
  .main-wrapper {
    width: 45rem;
  }
}