@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Base font size */
  --fs-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);

/* Type scale */
  --fs-sm: clamp(0.875rem, 0.82rem + 0.25vw, 0.95rem);
  --fs-md: clamp(1.125rem, 1.05rem + 0.3vw, 1.25rem);
  --fs-lg: clamp(1.4rem, 1.25rem + 0.6vw, 1.75rem);
  --fs-xl: clamp(1.75rem, 1.5rem + 1vw, 2.25rem);
  --fs-2xl: clamp(2.25rem, 1.9rem + 1.5vw, 3rem);

  /* Line heights */
  --lh-tight: 1.2;
  --lh-normal: 1.5;
  --lh-loose: 1.75;

  /* Spacing (4px scale)*/
  --spc-1: 0.25rem;
  --spc-2: 0.5rem;   
  --spc-3: 0.75rem;  
  --spc-4: 1rem;     
  --spc-5: 1.5rem;   
  --spc-6: 1.75rem;   
  --spc-7: 2rem;   
  --spc-8: 3rem;   

  /* Colors */
  /* Body, cards */
  --clr-bg-light: #FFFFFF;
  --clr-bg-dark: #0A0B0BE3;
  --clr-muted-bg-light: #d9d9d95b;
  --clr-muted-bg-dark: #CDCDCD70;

  /* Text */
  --clr-txt-light: #FFFFFF;
  --clr-txt-dark: #000000;
  --clr-txt-muted: #000000a8;

  /* Width */
  /* Cards */
  --width-lg-card: 18rem;
  --width-sm-card: 6rem;

  /* Header */
  --width-90-pc: 90%;
  --width-100-pc: 100%;

  /* Border-radius */
  --radius-20: 20px;
  --radius-50-pc: 50%;
}

body {
  font-family: Inter, monospace, ui-sans-serif, system-ui, sans-serif;
  background-color: var(--clr-bg-light);
  font-size: var(--fs-base);
  margin: 0;
  display: grid;
  place-items: center;
  grid-template-rows: 2.5rem 1fr 2.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: var(--width-90-pc);
}

.settings-div {
  background: purple;
}

.loader {
  display: none; 
  position: absolute;
  right: var(--spc-3);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: var(--radius-50-pc);
  border: 3px solid transparent;
  border-top-color: var(--clr-bg-dark);
  animation: rotate .6s linear infinite;
}

.loader.is-visible {
  display: block;
}

.location {
  display: grid;
  position: absolute;
  top: var(--spc-8);
  width: var(--width-100-pc);
  background: var(--clr-bg-light);
  color: var(--clr-bg-dark);
  box-shadow: 0px 0px 2px 2px #00000021;
  border-radius: 4px;
  padding: var(--spc-2);
  word-wrap: break-word;
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.loc-span {
  padding: var(--spc-3);
  color: var(--clr-bg-dark);
  border-radius: 2px;
  cursor: pointer;
}

.loc-span:hover {
  background-color: var(--clr-muted-bg-light);
}

#query {
  font-size: var(--fs-base);
  border-radius: var(--radius-20);
  border: none;
  padding: .6rem 3rem;
  background: var(--clr-muted-bg-light);
  width: var(--width-100-pc);
}

#searchForm {
  grid-area: search;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  /* margin-bottom: var(--spc-4); */
}

.main-wrapper {
  width: 25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4rem 12rem 20rem;
  grid-template-areas:
    "search search"
    "main secondary"
    "hourly daily";
  gap: var(--spc-2);
}

.main-card {
  grid-area: main;
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-5);
}

.secondary-card {
  grid-area: secondary;
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-5);
}

.hourly-card {
  grid-area: hourly;
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-5);
}

.daily-card {
  grid-area: daily;
  background: var(--clr-muted-bg-light);
  border-radius: var(--radius-20);
  padding: var(--spc-5);
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

@media (max-width: 500px) {
  .main-wrapper {
    width: 75%;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 10rem 10rem 20rem 20rem;
    grid-template-areas:
      "search"
      "main"
      "secondary"
      "hourly"
      "daily";
    gap: var(--spc-2);
  }
}

@media (min-width: 501px) {
  .main-wrapper {
    padding: 0 1rem;
  }
}

@media (min-width: 501px) {
  .main-wrapper {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .main-wrapper {
    width: 75%;
  }
}

@media (min-width: 1000px) {
  .main-wrapper {
    width: 45rem;
  }
}